<div class="w-100">
    {{> navbar user=user}}
    {{#if alert}}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{alert}}
        <form method="get" action="/coordinador">
            <button type="submit" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </form>
      </div>
    {{/if}}
    <div id="content" class="bg-white w-100">
        <div class="card">
            <div class="card-body">
                <h1>Solicitudes Pendientes</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Estudiante</th>
                        <th scope="col">Programa</th>
                        <th scope="col">Fecha Solicitud</th>
                        <th scope="col">#</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each list}}
                        <tr>
                            <th scope="row">{{idSolicitud}}</th>
                            <td>{{estudiante}}</td>
                            <td>{{programa}}</td>
                            <td>{{fecha_solicitud}}</td>
                            <td>
                                <a href="/solicitud/{{idSolicitud}}" class="btn btn-info">Revisar</a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
