<div class="w-100">
    {{> navbar user=user}}
    <div id="content" class="bg-white w-100">
        <div class="container-fluid">
            {{#if_eq user.estado '0'}}
                <div class="alert alert-warning" role="alert">
                    <p>Solicitud en espera, realizada el: {{user.fecha_solicitud}}</p>
                </div>
            {{/if_eq}}
            {{#if_eq user.estado '1'}}
                <div class="alert alert-info" role="alert">
                    <p>Solicitud aprobada el día {{user.fecha_historico}}</p>
                    <p>FECHA DE GRADO: {{user.fecha_grado}}</p>
                </div>
            {{/if_eq}}
            {{#if_eq user.estado '2'}}
                <div class="alert alert-danger" role="alert">
                    <p>Solicitud rechazada</p>
                    <p>Razones: {{user.comentarios}}</p>
                    <p>Día de rechazo: {{user.fecha_historico}}</p>
                </div>
            {{/if_eq}}
            {{#if_eq user.estado null}}
                <div class="container p-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="container bg-light">
                                <div class="row">
                                    <div class="col text-center">
                                        <img class="img-fluid" src="/static/assets/img/image1.png" alt="FET">
                                    </div>
                                    <div class="col-9 text-center">
                                        <h2 class="font-weight-bold mt-2">Formato Solicitud Grado</h2>
                                        <h4 class="font-weight-bold">Proceso Relacionado Grado</h4>
                                    </div>
                                </div>
                            </div>
                            <form action="" method="post">
                                <h6 class="text-center bg-light mt-4 mb-4">DATOS BÁSICOS</h6>
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Apellidos y Nombres Completos</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputName" placeholder="Password" value="{{user.nombres}}" disabled readonly>
                                    </div>
                                </div>
                                <div class="row border">
                                    <div class="col border text-center">
                                        <h6>Documento de Identidad</h6>
                                        <div class="container mb-2">
                                            <div class="row">
                                                <div class="col">
                                                    <input type="radio" class="form-check-input" name="documento" id="CC" value="CC" {{setChecked "CC" user.documento}} required>
                                                    <label class="form-check-label" for="CC">C.C.</label>
                                                </div>
                                                <div class="col">
                                                    <input type="radio" class="form-check-input" name="documento" id="CE" value="CE" {{setChecked "CE" user.documento}}>
                                                    <label class="form-check-label" for="CE">C.E.</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label for="no_documento" class="col-sm-2 col-form-label">No.</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="number" name="no_documento" id="number" value="{{user.no_documento}}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col border">
                                        <label>Lugar Expedición</label>
                                        <input class="form-control" type="text" name="lugar_exp" id="" value="{{user.lugar_exp}}" required>
                                    </div>
                                    <div class="col border">
                                        <label>Código Estudiantil</label>
                                        <input class="form-control" type="text" name="codigo" id="" value="{{user.codigo}}" required>
                                    </div>
                                </div>
                                <div class="form-group mt-4">
                                    <h6>Ciclo Profesional</h6>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="tipo" id="tecnico" value="tecnico" required>
                                        <label class="form-check-label" for="tecnico">Técnico</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="tipo" id="tecnologo" value="tecnologo">
                                        <label class="form-check-label" for="tecnologo">Tecnólogico</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="tipo" id="profesional" value="profesional">
                                        <label class="form-check-label" for="profesional">Profesional</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="programa"><h6>Programa</h6></label>
                                    <select class="form-control" id="programa" name="programa" required>
                                        <option>ambiental</option>
                                        <option>software</option>
                                        <option>alimentos</option>
                                        <option>eléctrica</option>
                                    </select>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <h6>Ultimo Semestre Cursado</h6>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" name="periodo" id="periodoa" value="Periodo A" required>
                                            <label class="form-check-label" for="exampleCheck1">Periodo A (Enero - Junio) </label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" name="periodo" id="periodob" value="Periodo B">
                                            <label class="form-check-label" for="exampleCheck1">Periodo B (Julio - Diciembre) </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group row mt-0">
                                        <label for="year" class="col-sm-2 col-form-label">Del año</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">20</div>
                                            </div>
                                            <input type="number" min="00" max="20" class="form-control" placeholder="20" aria-label="year" id="year" name="year" aria-describedby="year" required>
                                        </div>
                                    </div>
                                </div>
                                <h6 class="text-center bg-light mt-4 mb-4">INFORMACIÓN MODALIDAD DE GRADO</h6>
                                <div class="row border">
                                    <div class="col border">
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" name="modalidad" id="monografia" value="monografia">
                                            <label class="form-check-label" for="monografia">Monografía</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" name="modalidad" id="tesis" value="tesis">
                                            <label class="form-check-label" for="tesis">Trabajo de Grado (Tesis)</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" name="modalidad" id="seminario" value="seminario">
                                            <label class="form-check-label" for="seminario">Seminario de Grado</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" name="modalidad" id="desarrollo" value="desarrollo">
                                            <label class="form-check-label" for="desarrollo">Desarrollo Tecnológico</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" name="modalidad" id="plan" value="plan">
                                            <label class="form-check-label" for="plan">Plan de Negocios</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" name="modalidad" id="practica" value="practica">
                                            <label class="form-check-label" for="practica">Práctica Empresarial</label>
                                        </div>
                                    </div>
                                    <div class="col border">
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Nombre del trabajo de grado, monografía, plan de negocios, desarrollo tecnológico o seminario de grado</label>
                                            <textarea class="form-control" name="nombre_tg" id="" rows="5" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Nombre del director del trabajo de grado ó tutor empresarial</label>
                                            <input class="form-control" type="text" name="director" id="" required>
                                        </div>
                                    </div>
                                </div>
                                <h6 class="text-center bg-light mt-4 mb-4">DOCUMENTOS ANEXOS</h6>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="solicitud_grado" id="solicitud_grado" value="true">
                                    <label class="form-check-label" for="solicitud_grado">1. Solicitud de grado</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="copia_documento" id="copia_documento" value="true">
                                    <label class="form-check-label" for="copia_documento">2.Copia documento identidad ampliada.</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="certi_saber" id="certi_saber" value="true">
                                    <label class="form-check-label" for="certi_saber">3. Certificación presentación pruebas T&T - SABER PRO.</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="carnet" id="carnet" value="true">
                                    <label class="form-check-label" for="carnet">4. Carné estudiantil.</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="foto_carnet" id="foto_carnet" value="true">
                                    <label class="form-check-label" for="foto_carnet">5.Foto carné egresado (tamaño 4x4 fondo blanco).</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="certi_grado" id="certi_grado" value="true">
                                    <label class="form-check-label" for="certi_grado">6. Certificación cumplimiento modalidad de grado - firmado por Director de Programa (Formato PA-ARC-F003).</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="encuesta" id="encuesta" value="true">
                                    <label class="form-check-label" for="encuesta">7. Presentación Encuesta OLE ( M0 – M1)</label>
                                </div>
                                <div class="bg-light mt-4 mb-4">
                                    <div class="row">
                                        <div class="col">
                                            <label for="direccion">Dirección de Contacto</label>
                                            <input class="form-control" type="text" name="direccion" id="direccion" value="{{user.direccion}}" required>
                                        </div>
                                        <div class="col">
                                            <label for="ciudad">Ciudad</label>
                                            <input class="form-control" type="text" name="ciudad" id="ciudad" value="{{user.ciudad}}" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label>Teléfono</label>
                                            <input class="form-control" type="tel" name="telefono" id="" value="{{user.tel}}" required>
                                        </div>
                                        <div class="col">
                                            <label>Celular</label>
                                            <input class="form-control" type="tel" name="celular" id="" value="{{user.direccion}}" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Correo Electrónico</label>
                                        <input class="form-control" type="email" name="correo" id="" value="{{user.correo}}" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary w-100">Registrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {{/if_eq}}
        </div>
    </div>
</div>
